[submodule "dep/raylib"]
	path = dep/raylib
	url = https://github.com/raysan5/raylib
[submodule "dep/klib"]
	path = dep/klib
	url = https://github.com/attractivechaos/klib
[submodule "dep/vector"]
	path = dep/vector
	url = https://github.com/peko/vector
